<h1>Ultramarines</h1>
<img src="/images/ultramarines.jpg" alt="asset">
<hr>
@for (i of [].constructor(10); track $index) {
    <div>hallo {{$index}}</div>
}
<!-- <img src="{{imageurl}}" alt="">

<img [src]="imageurl" alt=""> -->

<!-- <img src="{{assetsService.getImageUrl('/src/assets/images/ultramarines.jpg')}}" alt=""> -->
<!-- <img [src]="assetsService.getImageUrl("/src/assets/images/ultramarines.jpg")" alt=""> -->
<!-- <img src="/src/assets/images/ultramarines.jpg" alt=""> -->
 <img src="{{assetsService.getImageUrl('ultramarines.jpg')}}" alt="">