:host {
    display: flex;
    flex-direction: column;
    // width: 100%;
    padding: 16px;
    border-bottom: 2px solid rgb(90, 255, 85);
    // position: fixed;
    text-align: center;
    // top: 0;
    // left: 0;
    // z-index: 10;
    background: rgb(34, 34, 34);
    * {
        color: rgb(90, 255, 85);
    }
}

nav{
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 16px;
}

a.active {
    color: green;
    font-weight: bold;
}

h1 {
    color: chocolate;
    margin-bottom: 32px;
}

.choice-text {
    margin-bottom: 16px;
}

nav>a {
    display: block;
    width: 100%;
    padding: 8px;
    text-decoration: none;
}

nav>a::after {
    content: " →";
}

nav>a:hover {
    background: rgb(90, 255, 85);
    color: black;
    transition:
        color 0.2s,
        background-color 0.2s;
}