<h1>Choose a Legion!</h1>
<p class="choice-text">Which Legion of our glorious Emperor do you wish to know more about?</p>
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/ultramarines" routerLinkActive="active">Ultramarines</a>
    <!--<a href="../dark-angels/dark-angels.html">Dark Angels</a>
    <a href="../blood-angels/blood-angels.html">Blood Angels</a>
    <a href="../iron-hands/iron-hands.html">Iron Hands</a>
    <a href="../imperial-fists/imperial-fists.html">Imperial Fists</a>
    <a href="../space-wolves/space-wolves.html">Space Wolves</a>
    <a href="../salamanders/salamanders.html">Salamanders</a>
    <a href="../raven-guard/raven-guard.html">Raven Guard</a>
    <a href="../white-scars/white-scars.html">White Scars</a>
    <a href="../js-test/js-test.html">js-test</a>
    <a href="../js-todo-list/js-todo-list.html">js ToDo List</a>
    <a href="../js-weight-scale/js-weight-scale.html">js weight scale</a> -->
    <a routerLink="/test" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Test</a>
    <a href="https://www.google.de">Google</a>
</nav>