<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Textbeispiel'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'resgrenvrnedlskbnetrdsklbn bvkedbvetrlk n enrgana ernndfkbkdbnjgkbrea nernagjka nfgre nagjkean eab eab öbgrea nreang lekang kera  kaergk lae '"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Beispieltext'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Textbeispiel'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'resgrenvrnedlskbnetrdsklbn bvkedbvetrlk n enrgana ernndfkbkdbnjgkbrea nernagjka nfgre nagjkean eab eab öbgrea nreang lekang kera  kaergk lae '"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Beispieltext'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Textbeispiel'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'resgrenvrnedlskbnetrdsklbn bvkedbvetrlk n enrgana ernndfkbkdbnjgkbrea nernagjka nfgre nagjkean eab eab öbgrea nreang lekang kera  kaergk lae '"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Beispieltext'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Textbeispiel'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'resgrenvrnedlskbnetrdsklbn bvkedbvetrlk n enrgana ernndfkbkdbnjgkbrea nernagjka nfgre nagjkean eab eab öbgrea nreang lekang kera  kaergk lae '"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Beispieltext'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'Textbeispiel'"></app-chapter-details>
<app-chapter-details [imageUrl]="'/images/ultramarines.jpg'" [text]="'resgrenvrnedlskbnetrdsklbn bvkedbvetrlk n enrgana ernndfkbkdbnjgkbrea nernagjka nfgre nagjkean eab eab öbgrea nreang lekang kera  kaergk lae '"></app-chapter-details>
